body{
  color:white;
}
.black{
  background-color: rgb(0,0,0);
}
.pt-20{
  padding-top:20px;
}
.mt-20{
  margin-top:20px;
}
.gradient{
  background-image: linear-gradient(to right, #2f322b, #282621, #1f1b19, #131010, #000000);
}
.pt-30{
  padding-top:30px;
}
.mt-50{
  margin-top:50px;
}
.first .col-md-2,.first .col-md-10{
  height:1100px;
}
.first .col-md-2{
  position:fixed;
  z-index:1;
}
.first .col-md-10{
  margin-left: 16.6%;
}
/* per l'immagine di Spotify */
.col-md-2 .spotify-logo{
  width: 90%;
}
/* per la lista della prima Colonna */
.first .col-md-2 ul{
  padding:0;
  list-style-type: none;
}
.first .col-md-2 ul li{
  margin-top:20px;
}
/* per le icone della prima Colonna */
.first .col-md-2 ul li i{
  margin-right:15px;
  font-size:20px;
}
.first .col-md-2 ul li a{
  color: #b3b3b3;
  text-decoration: none;
}
.first .col-md-2 ul li a:hover{
  color:white;
}
/* per il bordino verde al lato DI HOME */
.first .col-md-2 .home-border{
  position:relative;
}
/* per il bordino verde al lato di HOME */
.first .col-md-2 .home-border::before{
  content:'';
  display: block;
  position:absolute;
  left:-15px;
  border:2px solid green;
  height:100%;
}
/* per i bottoni */
.first .col-md-2 .btn{
  border-radius:500px;
  font-size:13px;
  padding:6px 0;
}
/* per il primo bottone lascio un margine top di 30px */
.first .col-md-2 .btn-default{
  margin-top:30px;
}
/* per il secondo bottone */
.first .col-md-2 .btn-black{
  color:white;
  background-color: black;
  margin-top:10px;
  border:2px solid #b3b3b3;
}
.first .col-md-2 .btn:hover{
  box-shadow: inset 0 0 0 2px #fff, 0 0 0 1px rgba(0,0,0,0);
  transform: scale(1.05,1.05);
}
.first .col-md-2 .politics-padding{
  padding:0 35px;
}
.first .col-md-2 .col-md-6 a{
  color:#b3b3b3;
  text-decoration: none;
}
/* per la linea che separa Privacy da Politica sui cookie */
.first .col-md-2 .border-left{
  border-left:1px solid white;
}
/* per vedere il bordo sotto leggermente separato */
.first .col-md-2 .col-md-6 .border-bottom{
  padding:3px 0;
}
.first .col-md-2 .col-md-6 .border-bottom:hover{
  border-bottom:1px solid white;
}
/* per la scritta Home */
.first .col-md-2 ul .white-font{
  color:white;
}

/* per la lista della seconda colonna */
.first .col-md-10 ul{
  text-align:center;
  padding:0;
}
.first .col-md-10 ul li{
  display:inline-block;
  margin-left:30px;
}
.first .col-md-10 ul li a, .first .col-md-2 ul li a{
  color: #b3b3b3;
}
.first .col-md-10 ul li a{
  font-weight: bold;
}
.first .col-md-10 ul li a:hover{
  color:white;
  text-decoration: none;
}
/* per il bordo sotto la scritta IN EVIDENZA */
.first .col-md-10 .evidence-border{
  position:relative;
}
/* per il bordo sotto IN EVIDENZA */
.first .col-md-10 .evidence-border::after {
  content: '';
  display: block;
  position: absolute;
  width: 50%;
  left: 25%;
  margin-top:3px;
  border-top: 2px solid green;
}
.first .col-md-10 h1{
  font-weight:bold;
}
.first .col-md-10 .white{
  color:white;
}
/* per il container flex */
.first .col-md-10 .container-flex{
  display:flex;
  width:100%;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.first .col-md-10 .container-flex .card{
  margin-bottom:20px;
  margin-right:15px;
}
.first .col-md-10 .container-flex img{
  width:162.5px;
  height:162.5px;
}
.first .col-md-10 .card a{
  color:white;
  text-decoration: none;
}
.first .col-md-10 .card p{
  margin-top:10px;
}
/* per nascondere le ultime due cards */
.first .col-md-10 .none{
  opacity: 0;
}

.violet{
  background-image: linear-gradient(90deg,#af2896,#509bf5);
}
.fixed{
  position:fixed;
  bottom:0;
  width:100%;
  z-index:1;
}
/* per le colonne della sezione viola */
.second .col-md-9, .second .col-md-3{
  position:relative;
  height:70px;
}
/* per centrare */
.second .col-md-9 .title-and-p, .second .col-md-3 button{
  position:absolute;
  top:50%;
  transform: translateY(-50%);
}
.second .col-md-12{
  padding-left:30px;
}
.second .col-md-12 h4{
  font-size:11px;
  letter-spacing: .16em;
}
.second .col-md-12 p{
  letter-spacing: .015em;
}
/* per il bottone ISCRIVITI GRATIS */
.second .col-md-3 .btn{
  border-radius:500px;
  font-size:14px;
  padding:8px 48px;
}
.second .col-md-3 .btn-block{
  width:80%;
}
.second .col-md-3 .btn-default{
  color:#4687d6;
}

/* FOOTER */
footer{
  background-color:#282828;
}
footer .col-md-12{
  position:relative;
  height:70px;
}
/* per centrare la lista */
footer .col-md-12 ul{
  padding:0;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}
footer .col-md-12 ul li {
  display:inline-block;
  margin-right:25px;
}
footer .col-md-12 ul li a{
  color:#b3b3b3;
}
/* per l'icona play */
footer .col-md-12 ul li .fa-play{
  border-radius:50%;
  padding:10px;
  border:1px solid #b3b3b3;
}
footer .col-md-12 ul li a:hover{
  color:white;
}
footer .col-md-12 .fa-play:hover{
  border:1px solid white;
}


/* media query */
@media (max-width: 767px) {
  .first .col-md-2,.first .col-md-10{
    height:1650px;
  }
  /* per l'immagine spotify */
  .col-md-2 .spotify-logo{
    width: 100%;
  }
  /* per far rimanere solo le icone */
  .first .col-md-2 span{
    display:none;
  }
  /* per togliere Privacy e Politica sui cookie */
  .first .col-md-6{
    display:none;
  }
  /* per togliere i bottoni della prima colonna*/
  .first .col-md-2 button{
    display:none;
  }
  /* per la lista della seconda colonna */
  .first .col-md-10 ul li{
    font-size:10px;
  }
  .first .col-md-10 .none{
    display:none;
  }
  /* modifico la larghezza delle carte */
  .first .col-md-10 .card{
    width:100px;
    height:auto;
  }
  .first .col-md-10 .card img{
    width:100px;
    height:auto;
  }
  /* tolgo il padding top */
  .pt-30{
    padding-top:0;
  }
  .pt-20{
    padding-top:0;
  }
  .first .col-md-10 ul li {
    margin-left: 10px;
  }
  /* modifico il margin-top */
  .mt-50{
    margin-top:10px;
  }
  /* altezza colonne seconda sezione (viola) */
  .second .col-md-9, .second .col-md-3{
    height:auto;
  }
  .second .col-md-9 .title-and-p, .second .col-md-3 button{
    position:relative;
    top:0;
    transform: none;
    margin-bottom:10px;
  }
  /* altezza sezione viola */
  .second .col-md-12{
    height:30px;
  }
  .second .title-and-p p{
    display:none;
  }

  footer .col-md-12{
    position:relative;
    height:70px;
  }
  /* per centrare la lista */
  footer .col-md-12 ul{
    padding:0;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
  }
  /* per la lista del footer */
  footer .col-md-12 ul li {
    margin-right:10px;
    display: inline-block;
  }
}
@media (min-width:768px) and (max-width: 992px) {
  .first .col-md-2,.first .col-md-10{
    height:1800px;
  }
  /* per togliere il bordo tra Privacy e Politica dei cookie */
  .first .col-md-2 .border-left{
    border-left:none;
  }
  .first .col-md-10 .none{
    display:none;
  }
  .second .col-md-3 .btn{
    border-radius:500px;
    font-size:14px;
    padding:8px 0;
  }
  /* per l'immagine di Spotify */
  .col-md-2 .spotify-logo{
    width: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .first .col-md-10 .none{
    display:none;
  }
  .first .col-md-2,.first .col-md-10{
    height:1226px;
  }
  /* per l'immagine di Spotify */
  .col-md-2 .spotify-logo{
    width: 100%;
  }
}
